 .about {
     padding-bottom: 94px;
@media screen and (min-width:320px) {
            display: none;}
 @media screen and (min-width:768px) {
 display: none;}
 }

 .about-title {
     margin-top: 0;
     margin-bottom: 50px;
     font-family: Roboto, sans-serif;
     font-size: 36px;
     line-height: 1.2;
     text-align: center;
     letter-spacing: 0.03em;
     color: var(--main-title-color);
 }

 .about-list {
     margin-left: -30px;
 }

 .about-foto {
     display: block;
 }

 /* .about-item:not(:last-child){
margin-right: 30px;
        } відступи*/
 .about-list__item {
     flex-basis: cal(100-90px)/3;
     /* width:  calc(100%/3-30px);*/
     margin-left: 30px;
 }

 .about-top-wrap {
     position: relative;
     overflow: hidden;
 }

 .about__top-text {
     position: absolute;
     bottom: 0;
     background-color: rgba(47, 48, 58, 0.8);
     color: #FFFFFF;
     padding: 27px;
     width: 370px;
     height: 70px;
     font-family: inherit;
     font-weight: 700;
     font-size: 14px;
     line-height: 1.14;
     text-align: center;
     letter-spacing: 0.03em;
     text-transform: uppercase;
 }