    .footer {
        padding-top: 60px;
        padding-bottom: 60px;
        background: #2F303A;
    max-width: 100%;
        width: 100%;
        @media screen and (min-width:480px) {
                padding-left: 15px;
                padding-right: 15px;
                max-width: 480px;
            }
        @media screen and (min-width:768px) {
                padding-left: 15px;
                padding-right: 15px;
                max-width: 768px;
            }
        
            @media screen and (min-width:1200px) {
                max-width: 1200px;
        
            }
    }

    .footer .container {
        @media screen and (min-width:1200px) {
       display: flex;
        }
        @media screen and (min-width:480px){
            flex-wrap: wrap;
           
        }
    }

    .footer-logo {
        @media screen and (min-width:480px) {
                padding: 60px 163px 20px 163px;
            }
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.9;
        letter-spacing: 0.03em;
        color: #2196F3;
    }

    .footer-list {
        padding-top: 20px;
        @media screen and (min-width:480px) {
                padding-left: 124px;
            }
        
    }
 /*.contact-main-tablet{
    @media screen and (min-width:768px){
display: block;
justify-content: space-around;
    }
 }*/