    .footer {
        padding-top: 60px;
      /* padding-bottom: 60px;*/
        background: #2F303A;
    max-width: 100%;
        width: 100%;
        @media screen and (min-width:480px) {
                padding-bottom: 60px;}
       
    }

    .footer .container {
    
      @media screen and (min-width:480px) {
    flex-wrap: wrap;}
        
        @media screen and (min-width:768px){
            flex-wrap: wrap;
           
        }
                  @media screen and (min-width:1200px) {
                      display: flex;
        
                  }
    }

    .footer-logo {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.9;
        letter-spacing: 0.03em;
        color: #2196F3;
       
}

    .footer-list {
         padding-top: 20px;
    }
      
        
    
 .footer-tablet{
    @media screen and (min-width:768px){
display: flex;
justify-content: space-around;
margin-bottom: -60px;

    }
    
 }
 
     
    .contact-main {
        text-align: center;
            @media screen and (min-width:480px) {
                margin-bottom: 60px;
                text-align: center;
            }
         @media screen and (min-width:768px) {
            
             text-align: center;
         }
            @media screen and (min-width:1200px) {
                text-align: left;
                
            }
        }
