  .footer {
      padding-top: 60px;
      padding-bottom: 60px;
      background: #2F303A;
  }

  .footer .container {
      display: flex;
  }

  .footer-logo {
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 700;
      font-size: 26px;
      line-height: 1.9;
      letter-spacing: 0.03em;
      color: #2196F3;
  }

  .footer-list {
      padding-top: 20px;
  }