/*portfolio*/

.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
    
}

.portfolio-selection {
    display: flex;
    margin-bottom: 50px;
        list-style: none;
      
    @media screen and (min-width:480px) {
            flex-wrap: wrap;
        }
         @media screen and (min-width:768px) {
            justify-content: center;
         }
         @media screen and (min-width:1200px) {
              justify-content: center;
                  }
    }


.portfolio-item {
    margin-left: 8px;
   &:hover,
   &:focus {
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
   border-radius: 4px;
        }
}
.portfolio-item{
@media screen and (min-width:480px){
    margin-bottom: 15px;

}
}

.top-wrap {
    position: relative;
    overflow: hidden;
}

.galery-item:hover .top-text {
    transform: translateY(0%);
}

.top-text {
    position: absolute;
    top: 0;
    background-color: rgba(33, 150, 243, 0.9);
    color: #FFFFFF;
    padding: 40px;
    width: 370px;
    height: 294px;
    transform: translateY(100%);
    transition: transform 250ms linear;
    overflow: auto;
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    @media screen and (min-width:480px){
        width: 100%;
        height: 100%;
        padding: 49px 24px 77px 24px;
        
    }
        @media screen and (min-width:768px) {
            width: 100%;
            height: 100%;
            padding: 63px 24px;
        }
}

.portfolio-title {
    margin-bottom: 4px;
    font-family: inherit;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}

.portfolio-text {

    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: #757575;
}
.galery{
    padding-top: 60px;
        padding-bottom: 60px;
    
        @media screen and (min-width:768px) {
            padding-bottom: 60px;
            padding-top: 60px;
        }
    
        @media screen and (min-width:1200px) {
            padding-bottom: 94px;
            padding-top: 94px;
        }
}
.gallery-list {
    margin-bottom: -30px;
    
        @media screen and (min-width:768px) {
            display: flex;
            flex-wrap: wrap;
            
            margin-left: -30px;
        }
    /*виставити елементи по вертикалі та горизонталі*/
}

/* margin-left: -30px;
    margin-bottom: -30px;
}
.calery-item{
 width:  calc(100%/3 - 30px);  
 margin-left: 30px;
 margin-bottom: 30px;
}*/

.foto-bottom {
    border: 1px solid #EEEEEE;
    padding: 20px 24px;
    margin-left: 0;
    margin-right: 0;
    border-top: none;
   
@media screen and (min-width:768px) {
    flex-grow: 1;
}
}
/*.galery-link:hover .galery-item{
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
0px 4px 4px rgba(0, 0, 0, 0.06),
1px 4px 6px rgba(0, 0, 0, 0.16);
}*/

.galery-item {
    display: block;
   &:hover,
    &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
        }
                margin-bottom: 30px;
        
                @media screen and (min-width:768px) {
                    /*width: calc(100% / 2 - 30px);*/
                    flex-basis: calc(100% / 2 - 30px);
                    margin-left: 30px;
                }
        
                @media screen and (min-width:1200px) {
                    flex-basis: calc(100% / 3 - 30px);
                    
                }
}