 
 header {
     border-bottom: 1px solid;
     color: #ECECEC;
 }
 .header {
     background-color: #FFFFFF;
     padding: 24px 0 24px 0;
 }

 .header .container {
     display: flex;
     align-items: center;
 }

 .menu-list {
     display: flex;
 }

 .navigation {
     display: none;
     align-items: center;
 }

 .header__logo {
     margin-right: 95px;
     font-family: 'Raleway';
     font-weight: 700;
     font-size: 26px;
     line-height: 1.2;
     letter-spacing: 0.03em;
     color: #2196F3;
 }
 .colortext {
     color: black;
     /* чорний  колір лого */
 }

 .colorchange {
     color: #FFFFFF;
     /*білий колір лого*/
 }
 .menu-list__item:not(:last-child) {
     margin-right: 50px;
 }

 .menu-list__link {
    position: relative;
     display: block;
     font-weight: 500;
     font-size: 14px;
     line-height: 1.14;
     letter-spacing: 0.02em;
     color: #212121;
     transition: color 250ms linear;
    &:hover,
    &:focus {
     color: #2196F3;
        }
 }
  .menu-list__link.current {
      color: var(--accsent-color);
  }
 .menu-list__link.current::after {
     content: "";
     left: 0;
     bottom: -32px;
     width: 100%;
     height: 4px;
     position: absolute;
     display: inline-block;
     background-color: var(--accsent-color);
     border-radius: 2px;
 }
 .nav-list.link.current {
     color: var(--accsent-color);
 }
  .header__connect{
      display: none;
  }
 .header__connect {
     margin-left: auto;
 }

 .connect__mail {
     margin-right: 50px;
     font-weight: 500;
     font-size: 14px;
     line-height: 1.14;
     letter-spacing: 0.02em;
     color: var(--second-title-color);
     transition: color 250ms linear;
 }

 .connect__tel {
     font-weight: 500;
     font-size: 14px;
     line-height: 1.14;
     letter-spacing: 0.02em;
     color: var(--second-title-color);
     transition: color 250ms linear;
 }

 .connect__tel:hover,
 .connect__tel:focus,
 .connect__mail:hover,
 .connect__mail:focus,
 .connect__icon:hover,
 .connect__icon:focus {
     color: var(--accsent-color);
 }

 .connect__icon {
     margin-right: 10px;
     fill: currentColor
 }
 .menu-open-btn{
     margin-left: auto;
     border: none;
     background: none;
 }
 .menu-close-btn{
     display: block;
     margin-left: auto;
 }
 
 .mob-menu{
   position:fixed;
   z-index: 1;
   top: 0;  
   left: 0;
   background-color: #FFFFFF;
   width: 100vw;
   height: 100vh;
   padding-top: 20px;
   padding-bottom: 48px;
   
   .container{
       display: block;
   }
 }
 .mob-list{
     margin-bottom: 302px;
 }
 .mob-list__item{
     &:not(:last-child){
         margin-bottom: 36px;
     }
 }
 .mob-list__link{
    font-family: Roboto sans-serif;
        font-weight: 500;
        font-size: 40px;
        line-height: 1.18;
        letter-spacing: 0.02em;
       color: #212121;
 }
 .mob-connect{
     margin-bottom: 64px;
 }
 .mob-connect-tel{
    font-family: Roboto sans-serif;
        font-weight: 500;
        font-size: 34px;
        line-height: 1.18;
        letter-spacing: 0.02em;
         color: #2196F3;
 }
 .mob-connect-mail{
font-family: Roboto sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    color: #757575;
 }

 .mob-soc__link{
    font-family: Roboto sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
    letter-spacing: 0.02em;
     color: #2196F3;
 }