.hero .container{
    max-width: 100%;
    width: 100%;
    padding: 0;
    
    @media screen and (min-width:768px) {
        padding-left: 15px;
        padding-right: 15px;
        max-width: 768px;
}
  @media screen and (min-width:1200px) {
      max-width: 1200px;
       
  }
  }
.hero {
    max-width: 1600px;
        margin: 0 auto;
    background: #2F303A;
    text-align: center;
   /* padding: 118px 60px 30px 60px;*/
    flex-grow: 1;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/hero-bg-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/hero-bg-mob2x.jpg);

        }
         @media screen and (min-width:480px){
            padding-top: 118px;
        }
     @media screen and (min-width:768px) {
    padding-top: 118px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)
                ),
            url(../images/hero-bg-tab.jpg);
            @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                            rgba(47, 48, 58, 0.4)
                            ),
                        url(../images/hero-bg-tab2x.jpg);
        }
    }
        @media screen and (min-width:1200px) {
            padding-top: 200px;
            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                    url(../images/hero.jpg);
                    @media (min-device-pixel-ratio: 2),
                        (min-resolution: 192dpi),
                        (min-resolution: 2dppx) {
                            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                                    rgba(47, 48, 58, 0.4)),
                                url(../images/hero2x.jpg);
        }
    }
}

.hero__top-text {
   margin-top: 0;
    margin-bottom: 45px;
    font-family: Roboto, sans-serif;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    letter-spacing: 0.06em;
   
    @media screen and (min-width:1200px) {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.4;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
       color:#FFFFFF;
    }
}
/*button*/
.hero__button {
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 10px 32px;
    margin-bottom: 200px;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    background-color: var(--accsent-color);
     @media screen and (min-width:480px){
            margin-bottom: 118px;
        }
                  @media screen and (min-width:768px) {
                      margin-bottom: 118px;
                  }
    @media screen and (min-width:1200px) {
    margin-bottom: 200px;}
}