     /* модальне вікно*/
     .backdrop {
         position: fixed;
         width: 100%;
         height: 100%;
         top: 0;
         background: rgba(0, 0, 0, 0.2);
         display: flex;
         align-items: center;
         justify-content: center;
         transition: opacity 250ms, visibility 250ms;
         
     }

     .backdrop .is-hidden .modal {
         transform: scale(0.5);
     }

     .backdrop .is-hidden {
         opacity: 0;
         pointer-events: none;

     }

     .modal {
         padding: 40px;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%) scale(1);
         width: 528px;
         height: 581px;
         background: #FFFFFF;
         box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
             0px 1px 1px rgba(0, 0, 0, 0.14),
             0px 2px 1px rgba(0, 0, 0, 0.2);
         border-radius: 4px;
         transition: transform 250ms;
        @media screen and (min-width:480px) {
              /* margin:93px 15px;*/
              width: 100vw;
              height: 609px;
            }
        @media screen and (min-width:768px) {
        
                width: 450px;
                height: 609px;
        } 
     }

     .modal-close-btn {
         position: absolute;
         top: 8px;
         right: 8px;
         width: 30px;
         height: 30px;
         border-radius: 50%;
         background-color: transparent;
         border: 1px solid rgba(0, 0, 0, 0.1);
        &:hover .modal-close-icon {
                fill: #2196F3;
            }
         &:hover {
        fill: #2196F3
         }
        &:focus .modal-close-icon {
        color: #2196F3;
        }
         &:focus {
        color: #2196F3
        }
     }

     .is-hidden {
         opacity: 0;
         pointer-events: none;
         visibility: hidden;
     }

     .modal-form {
         font-family: Roboto, sans-serif;
         font-weight: 700;
         font-size: 20px;
         line-height: 1.15;
         letter-spacing: 0.03em;
         color: var(--main-title-color);
         text-align: center;
         margin-bottom: 12px;
         
       
     }

     input.modal-input {
         width: 100%;
         height: 40px;
         border: 1px solid rgba(33, 33, 33, 0.2);
         border-radius: 4px;
         padding-left: 42px;
         outline: none;
         /*відключає підсвічування форми щоб задати ховер та фокус*/
         transition: border-color 300ms;
        &::placeholder {
                color: var(--accsent-color);
            }
        &:hover {
        border-color: #2196F3;
        }
        &:focus {
        border-color: #2196F3;
        }
        &:hover+.form-icon {
       fill: #2196F3;
        }
        &:focus+.form-icon {
        fill: #2196F3;
        }
     }

     /*.modal-input:valid{
        border-color: var(--accsent-color);
    }
    .modal-input:invalid{
        border-color: red;
    }*/
     .modal-field {
         margin-bottom: 10px;
     }

     .modal-input-wrap {
         position: relative;
     }

     /*розмістити іконку по центру .modal-input-wrap {
        position: relative; + .form-icon */
     .form-icon {
         position: absolute;
         top: 50%;
         transform: translateY(-50%);
         left: 10px;
         transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
     }


     .modal-label {
         font-family: Roboto, sans-serif;
         font-weight: 400;
         font-size: 12px;
         line-height: 1.7;
         letter-spacing: 0.01em;
         display: block;
         color: #757575;
         text-align: left;
         font-weight: 400;
     }

     .modal-coment {
         position: absolute;
         width: 448px;
         height: 120px;
         left: 576px;
         top: 518px;

         border: 1px solid rgba(33, 33, 33, 0.2);
         border-radius: 4px;
     }

     .user-text {
         font-family: Roboto sans-serif;
         font-style: normal;
         font-weight: 400;
         font-size: 14px;
         line-height: 16px;
         letter-spacing: 0.01em;

         color: rgba(117, 117, 117, 0.5);
     }

     

     .modal-text {
         width: 100%;
         height: 120px;
         border: 1px solid #757575;
         border-radius: 4px;
         margin-bottom: 10px;
         padding: 12px 16px;
         resize: none;
        &:hover {
        border-color: var(--accsent-color);
            }
&::placeholder,
&:focus-visible {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.7;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}
     }

     
     /*.checkbox{
        appearance: none;
        display: flex;
    }*/
     .check-icon {
         fill: transparent;

     }

     .check-text span {
         width: 15px;
         height: 16px;
         border: 2px solid #000000;
         border-radius: 2px;
         margin-right: 8px;
         display: flex;
         align-items: center;
         justify-content: center;
     }

     .check-text {
        /* @extend %aligh-list;*/
        display: flex;
        align-items: center;
         margin-bottom: 30px;
         margin-left: 15px;
     }

     .text-check {
         font-family: Roboto, sans-serif;
         font-style: normal;
         font-weight: 400;
         font-size: 14px;
         line-height: 1.7;
         letter-spacing: 0.03em;
         color: #757575;
        @media screen and (min-width:480px) {
            font-family: Roboto, sans-serif;
                font-weight: 400;
                font-size: 12px;
                line-height: 1.16;
                letter-spacing: 0.03em;
     }
          @media screen and (min-width:768px) {
              font-family: Roboto, sans-serif;
              font-weight: 400;
              font-size: 12px;
              line-height: 1.16;
              letter-spacing: 0.03em;
          }
        }
     .input-check:checked+.check-text span {
         background-color: var(--accsent-color);
         border: transparent;
     }

     .input-check:checked+.check-text .check-icon {
         fill: var(--hero-title-color);
     }
     .input-check:focus+.check-text span {
         border-color: var(--accsent-color);
     }

     /*+border: transparent; в .input-check:checked+.check-text span  зробить рамку іконки синього кольору*/
     /* ще один варіант галочки .check-text::before{
        content: "";
        width: 15px;
        height: 16px;
        margin-right: 8px;
        border: 2px solid #000000;
        border-radius: 2px;
    }
   .check-text{
       display: flex;
       align-items: center;
     font-family: Roboto,sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
   }*/

     .checkbox-policy {
         color: #2196F3;
     }

     .button-form {
         display: inline-block;
         position: relative;
         font-family: Roboto, sans-serif;
         font-weight: 700;
         font-size: 16px;
         line-height: 1.8;
         width: 200px;
         height: 50px;
         color: var(--hero-title-color);
         background-color: var(--accsent-color);
         border: 1px solid transparent;
         box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
         border-radius: 4px;
     }